
.wrap-login {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-background; 
  .field-group {
    margin: 20px 0;
  }
}

.site {
  display: block;
  width: 400px;
  margin: auto;
}

.wrap-login .header {
  display: block;
  color: $gray6;
  text-align: center;
  margin: 30px;
  font-size: 40px;
}

.component {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.92);
  background: rgba(255, 255, 255, 0.92);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.92);
}

.button-group {
  padding: 20px;
}

.button-group a {
  color: $gray6;
  font-size: 16px;
}

.form form {
  display: block;
  width: 100%;
}

.login-error {
  color: $red1;
  display: none;
  &.show{
    display: block;
  }
}

